.cw-pnav {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;
	color: #fff;
	background-color: transparent;
}

.cw-pnav-active {
	color: #fff;
	background-color: #080808;
}

.cw-pnav:hover,
.cw-pnav:focus {
	text-decoration: none;
	color: #fff;
	background-color: #080808;
}

.cw-pnav-active:hover,
.cw-pnav-active:focus {
	text-decoration: none;
	color: #fff;
	background-color: #080808;
}

.cw-fnavitem {
	cursor: pointer;
}

.cw-fnavitem-active {
	background-color: #080808;
}

.cw-fnavitem:hover,
.cw-fnavitem:fucus {
	background-color: #080808;
}

.cw-fnavitem-active:hover,
.cw-fnavitem-active:fucus {
	background-color: #080808;
}

.cw-css-elem-title {
	padding-bottom: 1px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ddd;
	color: #333;
	text-align:left;
}

.cw-css-elem-box {
	border: 1px solid #ddd;
	height: 250px;
}

.cw-css-page-header {
	paddng-bottom: 9px;
	margin: 10px 0px 20px 0px;
	border-bottom: 1px solid #eee;
	color: #aaa;
}

.cw-css-delete {
	float: left !important;
	padding: 0px 5px 0px 0px;
	margin: 0px;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity-20);
	opacity: .2;
}

.cw-term-background {
	height: 500px;
	overflow: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #00ff11;
	background-color: #111;
}

.cw-term-screen {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #00ff11;
	background-color: #111;
}

.cw-term-input {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #00ff11;
	background-color: #111;
}

.cw-term-location {
	float: left !important;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #00ff11;
	background-color: #111;
}

.cw-term-command {
	display: block;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #00ff11;
	background-color: #111;
}

.cw-term-command-text {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #00ff11;
	background-color: #111;
}

.cw-term-command-text:focus {
	outline: none;
}

.cw-login-input {
	display: block;
	width: 100%;
	height: 34px;
	margin: 0;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#cw-login-div {
	position: absolute;
	width: 100%;
	top: 20%;
}

#cw-login-panel {
	width: 400px;
	margin: auto;
}

#cw-login-logo-container {
	width: 100%;
}

#cw-login-logo {
	width: 200px;
	margin: auto;
}

#cw-login-btn {
	width: 100%;
}

#cw-progress-btn {
	position:relation;
	height:16px;
	width:44px;
}

#cw-progress-bar {
	height:16px;
	width:44px;
	margin: 17px 10px 17px 10px;
}


#cw-page-dashboard {
	position: absolute;
	top: 60px;
	padding: 10px;
	width: 100%;
    background-color: #222;
}

#cw-click-guard {
	position: fixed;
	background-color: transparent;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100000;
}

#cw-spinner {
	position: fixed;
	background-color: #222;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
}


::-webkit-scrollbar {
	width: 10px; 
	height: 10px; 
}

::-webkit-scrollbar-track {
	background: #222; 
}

::-webkit-scrollbar-thumb {
	background: #337ab7; 
}




