.cw-pnav {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;
	color: #fff;
	background-color: transparent;
}

.cw-pnav-active {
	color: #fff;
	background-color: #080808;
}

.cw-pnav:hover,
.cw-pnav:focus {
	text-decoration: none;
	color: #fff;
	background-color: #080808;
}

.cw-pnav-active:hover,
.cw-pnav-active:focus {
	text-decoration: none;
	color: #fff;
	background-color: #080808;
}

.cw-fnavitem {
	cursor: pointer;
}

.cw-fnavitem-active {
	background-color: #080808;
}

.cw-fnavitem:hover,
.cw-fnavitem:fucus {
	background-color: #080808;
}

.cw-fnavitem-active:hover,
.cw-fnavitem-active:fucus {
	background-color: #080808;
}

.cw-css-elem-title {
	padding-bottom: 1px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ddd;
	color: #333;
	text-align:left;
}

.cw-css-elem-box {
	border: 1px solid #ddd;
	height: 250px;
}

.cw-css-page-header {
	paddng-bottom: 9px;
	margin: 10px 0px 20px 0px;
	border-bottom: 1px solid #eee;
	color: #aaa;
}

.cw-css-delete {
	float: left !important;
	padding: 0px 5px 0px 0px;
	margin: 0px;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity-20);
	opacity: .2;
}

#cw-progress-btn {
	position:relation;
	height:16px;
	width:44px;
}

#cw-progress-bar {
	height:16px;
	width:44px;
	margin: 17px 10px 17px 0px;
}


#cw-page-dashboard {
	position: absolute;
	top: 60px;
	padding: 10px;
	width: 100%;
    background-color: #222;
}

#cw-click-guard {
	position: fixed;
	background-color: transparent;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100000;
}

#cw-spinner {
	position: fixed;
	background-color: #222;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
}


::-webkit-scrollbar {
	width: 10px; 
	height: 10px; 
}

::-webkit-scrollbar-track {
	background: #222; 
}

::-webkit-scrollbar-thumb {
	background: #337ab7; 
}




