{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Cisco Webkit</title>

<link href="/resource/css/datatables.css" rel="stylesheet">
<link href="/resource/css/morris.css" rel="stylesheet">
<link href="/resource/css/chartist.css" rel="stylesheet">
<link href="/resource/css/chartist-plugin-tooltip.css" rel="stylesheet">
<link href="/resource/css/jquery.circliful.css" rel="stylesheet" type="text/css"/>
<link href="/resource/css/font-awesome.css" rel="stylesheet">
<link href="/resource/css/bootstrap.css" rel="stylesheet">
<link href="/resource/css/sb-admin.css" rel="stylesheet">
<link href="/resource/css/ciscowebkit.css" rel="stylesheet">

</head>

<body>
	<!-- <script src="/resource/js/jquery-3.1.0.min.js"></script>  -->
	<script src="/resource/js/jquery-2.2.4.min.js"></script>
	<script src="/resource/js/datatables.min.js"></script>
	<script src="/resource/js/spin.js"></script>
	<script src="/resource/js/raphael-2.1.4.min.js"></script>
	<script src="/resource/js/morris.min.js"></script>
	<script src="/resource/js/chartist.min.js"></script>
	<script src="/resource/js/chartist-plugin-tooltip.min.js"></script>
	<script src="/resource/js/justgage.js"></script>
	<script src="/resource/js/bootstrap.min.js"></script>
    
	<!-- Product -->
	
	
	
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" onclick="show_dashboard();">
				<img src="/resource/images/logo.png" width="40px" heigth="40px" />
			</a>

<!-- Products Navigation Bar -->				
{{ cw_pnav }}
<!-- End -->
			
			<span id="cw-progress-bar" class="progress pull-right" onclick="pwr_sched_toggle();">
				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"><span class="sr-only">100% Complete</span></div>
			</span>
			
			<ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> SolSE <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
			
			
			
				
		</div>
		
		
		<div class="collapse navbar-collapse navbar-ex1-collapse">

<!-- Features Navigation Bar -->
{{ cw_fnav }}
<!-- End -->
				
		</div>
	</nav>
	
	<div id="cw-page-dashboard"></div>
		
	<div id="wrapper">
		
		<div id="page-wrapper">
			<div class="container-fluid">
			
				<div id="cw-feature-page">
			
					<div class="row">
						<div class="col-lg-12">
							<h1 id="cw-page_title" class="cw-css-page-header">NONE</h1>
						</div>
					</div>
				
<!-- Views HTML Body -->			
{{ cw_page_html }}
<!-- End -->
					
					<div id="cw-page-page_not_found" class="cw-page"><h1>Page Not Found</h1></div>
					<div id="cw-page-internal_error" class="cw-page"><h1>Internal Error</h1></div>
					
				</div>
				
			</div>
		</div>
		
	</div>
	
	<div id="cw-spinner"></div>
	
	<div id="cw-click-guard"></div>
	
	<!-- JavaScripts -->
	<script type="text/javascript">

<!-- Views Javascripts -->
{{ cw_page_js }}
<!-- End -->

	</script>
</body>

</html>
