{% load staticfiles %}
<html>

<head>
<link href="/resource/css/jquery.circliful.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<script src="/resource/js/jquery-2.2.4.min.js"></script>
<script src="/resource/js/jquery.circliful.min.js"></script>

<div class="row" width="30%" height="30%">
    <div class="col-lg-2">
        <div id="test-circle"></div>
    </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
    $("#test-circle").circliful({
    	animation: 1,
        animationStep: 15,
        foregroundBorderWidth: 15,
        backgroundBorderWidth: 5,
        backgroundColor: "#eee",
        fontColor: "#666",
        showPercent:1,
        percent: 75,
        text: 'jang',
        textBelow: false,
    });
});
</script>

</body>

</html>