<div class="panel panel-{{ panel }}">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa {{ icon }}"></i> {{ title }}
		</h3>
	</div>
	<div class="panel-body">
		<div id="{{ id }}"></div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	Morris.Donut({
	    element: '{{ id }}',
	    data : [
	    {% for data in datas %}{ label : "{{ data.label }}", value : {{ data.value }} }{% if not forloop.last %},{% endif %}
	    {% endfor %}],{% if iscolor %}
	    colors : [
		{% for data in datas %}"{{ data.color }}"{% if not forloop.last %},{% endif %}
		{% endfor %}
	    ],{% endif %}
	    resize: true
	});
});
</script>