
<!doctype html>
<html class="no-focus">
<head>
<meta charset="utf-8">
<title>Cisco HyperFlex Systems</title>
<meta name="description" content="Cisco HyperFlex Systems Management Console">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<!-- Icons -->
<!--
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
  -->
<link rel="shortcut icon" type="image/x-icon" href="favicons/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
<link rel="stylesheet" href="styles/vendor.813c0b45.css">
<link rel="stylesheet" href="styles/main.719f5093.css">
</head>
<body ng-app="pixelexApp">
	<!--[if lte IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
	<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
		<!-- END Side Overlay -->
		<!-- Sidebar -->
		<nav id="sidebar">
			<!-- Sidebar Scroll Container -->
			<div id="sidebar-scroll">
				<!-- Sidebar Content -->
				<div class="sidebar-content" ng-controller="MenusController">
					<!-- Side Header -->
					<div class="side-header side-content bg-white-op">
						<!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
						<button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
							<i class="fa fa-times"></i>
						</button>
						<a class="h5 text-white" href="#main" style="padding-top: 2px"> <!-- <img src="images/BannerLogo.819ec35f.png" style="height: 24px; margin-left: -5px;"> --> <!-- <img src="images/cisco_logo_white.0abb45d2.png" class="sidebar-mini-hide" style="height: 65%; width: 65%; margin-top: -4px;"> --> <img src="images/cisco_logo_1.52277757.png" style="height: 24px; margin-left: -12px; margin-top: -6px"> <span class="h4 font-w200 sidebar-mini-hide" style="padding-left: 5px">HyperFlex</span>
						</a>
					</div>
					<!-- END Side Header -->
					<!-- Side Content -->
					<div class="side-content">
						<ul class="nav-main">
							<li ng-repeat="menu in menus" ng-class="{'nav-main-heading':menu.type === 'heading'}"><a ng-if="menu.type === 'menu'" class="{{menu.menuClass}}" href="#{{menu.target}}"><i class="{{menu.icon}}"></i><span class="sidebar-mini-hide">{{menu.label}}</span></a> <span ng-if="menu.type === 'heading'" class="sidebar-mini-hide">{{menu.label}}</span> <a ng-if="menu.type === 'link'" class="{{menu.menuClass}}" href="{{menu.target}}" target="_blank"><i class="{{menu.icon}}"></i><span
									class="sidebar-mini-hide">{{menu.label}}</span></a> <a ng-if="menu.type === 'nav-submenu'" class="nav-submenu {{menu.menuClass}}" data-toggle="nav-submenu" href="#"> <i class="{{menu.icon}}"></i><span class="sidebar-mini-hide">{{menu.label}}</span>
							</a>
								<ul ng-if="menu.type === 'nav-submenu'">
									<li ng-repeat="submenu in menu.submenus"><a class="{{submenu.menuClass}}" href="#{{submenu.target}}">{{submenu.label}}</a></li>
								</ul></li>
						</ul>
					</div>
					<!-- END Side Content -->
				</div>
				<!-- Sidebar Content -->
			</div>
			<!-- END Sidebar Scroll Container -->
		</nav>
		<!-- END Sidebar -->
		<!-- Header -->
		<header id="header-navbar" class="content-mini content-mini-full ribbon ribbon-bookmark ribbon-primary" ng-controller="UserController">
			<!-- Header Navigation Right -->
			<div class="panel-body pull-right">
				<div class="h5"
					style="position: absolute; padding: 0; margin: 0; text-align: center; white-space: nowrap; overflow: hidden; transform-origin: 0 100%; box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12); background-color: #03a9f4; color: #fff; height: 35px; width: 150px; top: -35px; transform: rotateZ(45deg); padding-left: 35px; padding-right: 35px; line-height: 35px; right: -43.933982822018px; -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -o-transform: rotateZ(45deg)">
					Tech Preview</div>
			</div>
			<ul class="nav-header pull-right hide">
				<li>
					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
							<i class="fa fa-user"></i> Administrator <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a tabindex="-1" href="#" ng-click="logout('ui','/')"> <i class="si si-logout pull-right"></i>Log out
							</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<!-- END Header Navigation Right -->
			<!-- Header Navigation Left -->
			<ul class="nav-header pull-left" ng-controller="DashboardController">
				<li class="hidden-md hidden-lg">
					<!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
					<button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
						<i class="fa fa-navicon"></i>
					</button>
				</li>
				<li class="hidden-xs hidden-sm">
					<!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
					<button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
						<i class="fa fa-navicon"></i>
					</button>
				</li>
				<li class="visible-xs hide">
					<!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
					<button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
						<i class="fa fa-search"></i>
					</button>
				</li>
				<li class="js-header-search header-search">
					<div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
						<input type="text" ng-model="customSelected" placeholder="Search.." typeahead-on-select="onSelect($item, $model, $label)" typeahead-template-url="views/templates/search.hints.html" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" class="form-control">
						<!-- typeahead-template-url="customTemplate.html"
            uib-typeahead="hint as hint.name for hint in hints | filter:{name:$viewValue}"
            <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search.."> -->
						<span class="input-group-addon"><i class="si si-magnifier"></i></span>
					</div>
				</li>
			</ul>
			<!-- END Header Navigation Left -->
		</header>
		<!-- END Header -->
		<!-- Main Container -->
		<main id="main-container">
		<div ng-view=""></div>
		</main>
		<!-- END Main Container -->
		<!-- Footer -->
		<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix" ng-controller="MainController">
			<div class="pull-left">
				<a class="btn-link about" data-toggle="popover" data-trigger="focus" title="About" tabindex="0" data-content="{{aboutDetails}}" data-placement="top" data-html="true">Version: {{version}}</a>
			</div>
			<!--
      <div class="pull-right">
        <a class="font-w600" href="http://wwww.springpathinc.com" target="_blank">Springpath Inc.</a> &copy; <span class="js-year-copy"></span>
      </div>
      -->
		</footer>
		<!-- END Footer -->
	</div>
	<!-- END Page Container -->
	<script src="scripts/vendor.9f7c444e.js"></script>
	<script src="scripts/scripts.35da6621.js"></script>
</body>
</html>