<div class="panel panel-{{ panel }}">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa {{ icon }}"></i> {{ title }}
		</h3>
	</div>
	<div class="panel-body">
		<div class="list-group">{% for elem in list %}
			<a {% if elem.href %}href="{{elem.href}}" {% endif %}class="list-group-item {{ elem.active }}">{% if elem.badge %}<span class="badge">{{ elem.badge }}</span>{% endif %}{% if elem.icon %}<i class="fa fa-fw {{ elem.icon }}"></i>{% endif %} {{ elem.title }} </a>{% endfor %}
		</div>
	</div>
</div>